USE [Shneta]
GO
/****** Object:  Table [dbo].[administrator]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administrator](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[pass] [varchar](255) NULL,
	[kodi_personal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikimi]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikimi](
	[aplikimiID] [int] IDENTITY(1,1) NOT NULL,
	[emri_kompanise] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[aplikimi_statusID] [int] NULL,
	[koha_aplikimit] [datetime] NULL,
	[koha_kontrollimit] [datetime] NULL,
	[Arsyeja] [text] NULL,
	[adminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[aplikimiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikimi_status]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikimi_status](
	[aplikimi_statusID] [int] IDENTITY(1,1) NOT NULL,
	[statusi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[aplikimi_statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[koha_krijimit] [datetime] NULL,
	[cmimi_total] [decimal](8, 2) NULL,
	[klientiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doza]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doza](
	[dozaID] [int] IDENTITY(1,1) NOT NULL,
	[doza] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[dozaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forma]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forma](
	[formaID] [int] IDENTITY(1,1) NOT NULL,
	[lloji_formes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[formaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furnitori]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furnitori](
	[furnitoriID] [int] IDENTITY(1,1) NOT NULL,
	[emri] [varchar](255) NULL,
	[shtetiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[furnitoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategoria]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoria](
	[kategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[emri] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[kategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klienti]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klienti](
	[klientiID] [int] IDENTITY(1,1) NOT NULL,
	[adresa] [varchar](255) NULL,
	[qyteti] [varchar](255) NULL,
	[kodi_postal] [varchar](20) NULL,
	[shtetiID] [int] NULL,
	[aplikimiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[klientiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leviza_ne_stok]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leviza_ne_stok](
	[levizjaID] [int] IDENTITY(1,1) NOT NULL,
	[lloji_levizjes] [varchar](255) NULL,
	[sasia] [int] NULL,
	[koha_krijimit] [datetime] NULL,
	[produkt_variacioniID] [int] NULL,
	[porosiaID] [int] NULL,
	[adminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[levizjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menyra_pageses]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menyra_pageses](
	[menyra_pagesesID] [int] IDENTITY(1,1) NOT NULL,
	[menyra_pageses] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[menyra_pagesesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagesa]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagesa](
	[pagesaID] [int] IDENTITY(1,1) NOT NULL,
	[shuma_pageses] [decimal](8, 2) NULL,
	[koha_pageses] [datetime] NULL,
	[porosiaID] [int] NULL,
	[menyra_pagesesID] [int] NULL,
	[numri_llogarise] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[pagesaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagesa_status]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagesa_status](
	[pagesa_statusID] [int] IDENTITY(1,1) NOT NULL,
	[statusi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pagesa_statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[porosia]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[porosia](
	[porosiaID] [int] IDENTITY(1,1) NOT NULL,
	[koha_krijimit] [datetime] NULL,
	[porosia_statusID] [int] NULL,
	[cmimi_total] [decimal](8, 2) NULL,
	[pagesa_statusID] [int] NULL,
	[klientiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[porosiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[porosia_status]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[porosia_status](
	[porosia_statusID] [int] IDENTITY(1,1) NOT NULL,
	[statusi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[porosia_statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkt_variacioni]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkt_variacioni](
	[produkt_variacioniID] [int] IDENTITY(1,1) NOT NULL,
	[cmimi] [decimal](8, 2) NULL,
	[sasia_ne_stok] [int] NOT NULL,
	[formaID] [int] NULL,
	[dozaID] [int] NULL,
	[furnitoriID] [int] NULL,
	[produktiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[produkt_variacioniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkti]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkti](
	[produktiID] [int] IDENTITY(1,1) NOT NULL,
	[emri] [varchar](255) NULL,
	[pershkrimi] [text] NULL,
	[kategoriaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[produktiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkti_cart]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkti_cart](
	[produkti_cartID] [int] IDENTITY(1,1) NOT NULL,
	[sasia] [int] NULL,
	[cmimi] [decimal](8, 2) NULL,
	[cartID] [int] NULL,
	[produkt_variacioniID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[produkti_cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkti_porosise]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkti_porosise](
	[produkti_porosiseID] [int] IDENTITY(1,1) NOT NULL,
	[porosiaID] [int] NULL,
	[produkt_variacioniID] [int] NULL,
	[sasia] [int] NULL,
	[cmimi] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[produkti_porosiseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shteti]    Script Date: 9/11/2025 9:32:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shteti](
	[shtetiID] [int] IDENTITY(1,1) NOT NULL,
	[emri_shtetit] [varchar](255) NULL,
	[iso_kodi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[shtetiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aplikimi] ADD  DEFAULT (getdate()) FOR [koha_aplikimit]
GO
ALTER TABLE [dbo].[aplikimi] ADD  DEFAULT (NULL) FOR [koha_kontrollimit]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [koha_krijimit]
GO
ALTER TABLE [dbo].[leviza_ne_stok] ADD  DEFAULT (getdate()) FOR [koha_krijimit]
GO
ALTER TABLE [dbo].[pagesa] ADD  DEFAULT (getdate()) FOR [koha_pageses]
GO
ALTER TABLE [dbo].[porosia] ADD  DEFAULT (getdate()) FOR [koha_krijimit]
GO
ALTER TABLE [dbo].[aplikimi]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[administrator] ([adminID])
GO
ALTER TABLE [dbo].[aplikimi]  WITH CHECK ADD FOREIGN KEY([aplikimi_statusID])
REFERENCES [dbo].[aplikimi_status] ([aplikimi_statusID])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([klientiID])
REFERENCES [dbo].[klienti] ([klientiID])
GO
ALTER TABLE [dbo].[furnitori]  WITH CHECK ADD FOREIGN KEY([shtetiID])
REFERENCES [dbo].[shteti] ([shtetiID])
GO
ALTER TABLE [dbo].[klienti]  WITH CHECK ADD FOREIGN KEY([aplikimiID])
REFERENCES [dbo].[aplikimi] ([aplikimiID])
GO
ALTER TABLE [dbo].[klienti]  WITH CHECK ADD FOREIGN KEY([shtetiID])
REFERENCES [dbo].[shteti] ([shtetiID])
GO
ALTER TABLE [dbo].[leviza_ne_stok]  WITH CHECK ADD FOREIGN KEY([adminID])
REFERENCES [dbo].[administrator] ([adminID])
GO
ALTER TABLE [dbo].[leviza_ne_stok]  WITH CHECK ADD FOREIGN KEY([porosiaID])
REFERENCES [dbo].[porosia] ([porosiaID])
GO
ALTER TABLE [dbo].[leviza_ne_stok]  WITH CHECK ADD FOREIGN KEY([produkt_variacioniID])
REFERENCES [dbo].[produkt_variacioni] ([produkt_variacioniID])
GO
ALTER TABLE [dbo].[pagesa]  WITH CHECK ADD FOREIGN KEY([menyra_pagesesID])
REFERENCES [dbo].[menyra_pageses] ([menyra_pagesesID])
GO
ALTER TABLE [dbo].[pagesa]  WITH CHECK ADD FOREIGN KEY([porosiaID])
REFERENCES [dbo].[porosia] ([porosiaID])
GO
ALTER TABLE [dbo].[porosia]  WITH CHECK ADD FOREIGN KEY([klientiID])
REFERENCES [dbo].[klienti] ([klientiID])
GO
ALTER TABLE [dbo].[porosia]  WITH CHECK ADD FOREIGN KEY([pagesa_statusID])
REFERENCES [dbo].[pagesa_status] ([pagesa_statusID])
GO
ALTER TABLE [dbo].[porosia]  WITH CHECK ADD FOREIGN KEY([porosia_statusID])
REFERENCES [dbo].[porosia_status] ([porosia_statusID])
GO
ALTER TABLE [dbo].[produkt_variacioni]  WITH CHECK ADD FOREIGN KEY([dozaID])
REFERENCES [dbo].[doza] ([dozaID])
GO
ALTER TABLE [dbo].[produkt_variacioni]  WITH CHECK ADD FOREIGN KEY([formaID])
REFERENCES [dbo].[forma] ([formaID])
GO
ALTER TABLE [dbo].[produkt_variacioni]  WITH CHECK ADD FOREIGN KEY([furnitoriID])
REFERENCES [dbo].[furnitori] ([furnitoriID])
GO
ALTER TABLE [dbo].[produkt_variacioni]  WITH CHECK ADD FOREIGN KEY([produktiID])
REFERENCES [dbo].[produkti] ([produktiID])
GO
ALTER TABLE [dbo].[produkti]  WITH CHECK ADD FOREIGN KEY([kategoriaID])
REFERENCES [dbo].[kategoria] ([kategoriaID])
GO
ALTER TABLE [dbo].[produkti_cart]  WITH CHECK ADD FOREIGN KEY([cartID])
REFERENCES [dbo].[cart] ([cartID])
GO
ALTER TABLE [dbo].[produkti_cart]  WITH CHECK ADD FOREIGN KEY([produkt_variacioniID])
REFERENCES [dbo].[produkt_variacioni] ([produkt_variacioniID])
GO
ALTER TABLE [dbo].[produkti_porosise]  WITH CHECK ADD FOREIGN KEY([porosiaID])
REFERENCES [dbo].[porosia] ([porosiaID])
GO
ALTER TABLE [dbo].[produkti_porosise]  WITH CHECK ADD FOREIGN KEY([produkt_variacioniID])
REFERENCES [dbo].[produkt_variacioni] ([produkt_variacioniID])
GO
ALTER TABLE [dbo].[leviza_ne_stok]  WITH CHECK ADD CHECK  (([sasia]>(0)))
GO
ALTER TABLE [dbo].[produkt_variacioni]  WITH CHECK ADD CHECK  (([sasia_ne_stok]>=(0)))
GO
ALTER TABLE [dbo].[produkti_cart]  WITH CHECK ADD CHECK  (([sasia]>(0)))
GO
ALTER TABLE [dbo].[produkti_porosise]  WITH CHECK ADD CHECK  (([sasia]>(0)))
GO
